doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        h1 Lab5
        br
        p #{content.text}
        p #{content.answer}